# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1.Python

2.R

3.SQL

4.Scala

5.Java

6.C++

7.Julia

8.JavaScript

9.PHP

10.Go

11.Ruby

12.Visual Basic

Some of the commonly used libraries used by Data Scientists include:
* Pandas

* Numpy

* Matplotlib

* Seaborn

* Scikit-learn

* Keras

* TensorFlow

* PyTorch

* Apache Spark

* Vegas

* Big DL

* Ggplot2

Data Science Tools
|-----------------|
|Anaconda|
|Jupyter Notebook|
|R Studio|
|Spyder|
|Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
 # This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#  This will convert 200 minutes to hours by diving by 60
200//60

3

**Objectives:**
* Add comments to the code cells
* Create markdown cells
* Add ordered unordered lists to the markdown cells
* Format content of markdown cells with heading styles

## Author

Nalla sai chaithanya